<div class="row">
  <div class="col-lg-6">
    <div class="form-group">
      <%= f.label :category, class: 'required' %>
      <%= f.text_field :category, class: 'form-control', required: true %>
      <p class='error'><%= show_errors(product_detail, :category) %></p>
    </div>

    <div class="form-group">
      <%= f.label :sub_category, class: 'required' %>
      <%= f.text_field :sub_category, class: 'form-control', required: true %>
      <p class='error'><%= show_errors(product_detail, :sub_category) %></p>
    </div>

    <div class="form-group">
      <%= f.label :quantity, class: 'required' %>
      <%= f.number_field :quantity, class: 'form-control', required: true, value: 1 %>
      <p class='error'><%= show_errors(product_detail, :quantity) %></p>
    </div>

    <div class="form-group">
      <%= f.label :purchased_from %>
      <%= f.text_field :purchased_from, class: 'form-control' %>
      <p class='error'><%= show_errors(product_detail, :purchased_from) %></p>
    </div>

    <div class="form-group">
      <%= f.label :warranty %>
      <%= f.check_box :warranty, class: 'form-control' %>
      <p class='error'><%= show_errors(product_detail, :warranty) %></p>
    </div>
  </div>

  <div class="col-lg-6">
    <div class="form-group">
      <%= f.label :bill_no %>
      <%= f.text_field :bill_no, class: 'form-control' %>
      <p class='error'><%= show_errors(product_detail, :bill_no) %></p>
    </div>

    <div class="form-group">
      <%= f.label :modelcode %>
      <%= f.text_field :modelcode, class: 'form-control' %>
      <p class='error'><%= show_errors(product_detail, :modelcode) %></p>
    </div>

    <div class="form-group">
      <%= f.label :modelname %>
      <%= f.text_field :modelname, class: 'form-control' %>
      <p class='error'><%= show_errors(product_detail, :modelname) %></p>
    </div>

    <div class="form-group">
      <%= f.label :serial_no %>
      <%= f.text_field :serial_no, class: 'form-control' %>
      <p class='error'><%= show_errors(product_detail, :serial_no) %></p>
    </div>

    <div class="form-group">
      <%= f.label :bill_date %>
      <%= f.date_select :bill_date, class: 'form-control' %>
      <p class='error'><%= show_errors(product_detail, :bill_date) %></p>
    </div>
  </div>
</div>
