<%= form_with(model: [@customer, service_request], local: true) do |form| %>
  <% if service_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(service_request.errors.count, "error") %> prohibited this service_request from being saved:</h2>

      <ul>
        <% service_request.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-7">
      <div class="form-group">
        <%= form.label :problem %>
        <%= form.text_area :problem, class: 'form-control', required: true %>
      </div>

      <div class="form-group">
        <%= form.label :customer_remark %>
        <%= form.text_area :customer_remark, class: 'form-control' %>
      </div>
    </div>

    <div class="col-5">
      <div class="form-group">
        <%= form.label :status %>
        <%= form.select :status, options_for_select(ServiceRequest.statuses.map {|k, v| [k.humanize.capitalize, k]}), {}, { class: 'form-control' } %>
      </div>
      <div class="form-group">
        <ul class="list-group">
          <li class="list-group-item disabled" aria-disabled="true">
            Select Address
            <%= link_to 'New Address', new_customer_address_path(@customer) %>
          </li>
          <% @customer.addresses.each do |address| %>
            <li class="list-group-item">
              <div class="form-check">
                <%= form.radio_button :address_id, address.id, class: 'form-check-input', checked: true %>
                <label class="form-check-label" for="exampleRadios1">
                  <%= address.street %>
                </label>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <div class="actions">
    <%= link_to 'Back', @service_request.customer, class: 'btn btn-light' %>
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
