<tr>
  <td><%= service_request.call_id %></td>
  <td><%= link_to service_request.customer.name, service_request.customer %></td>
  <td><%= service_request.problem %></td>
  <td><%= service_request.status %></td>
  <td><%= service_request.customer_remark %></td>
  <td><%= link_to 'Show', customer_service_request_path(service_request.customer, service_request) %></td>
  <td><%= link_to 'Edit', edit_customer_service_request_path(service_request.customer, service_request) %></td>
</tr>
