<p id="notice"><%= notice %></p>

<p>
  <strong>Call:</strong>
  <%= @service_request.call_id %>
</p>

<p>
  <strong>Problem:</strong>
  <%= @service_request.problem %>
</p>

<p>
  <strong>Status:</strong>
  <%= @service_request.status %>
</p>

<p>
  <strong>Customer remark:</strong>
  <%= @service_request.customer_remark %>
</p>

<%= link_to 'Edit', edit_customer_service_request_path(@customer, @service_request) %> |
<%= link_to 'Back', :back %>
