<%= form_with(model: customer, local: true) do |form| %>
  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control', required: true %>
    <p class='error'><%= show_errors(customer, :name) %></p>
  </div>

  <div class="form-group">
    <%= form.label :primary_phone_no %>
    <%= form.text_field :primary_phone_no, class: 'form-control', required: true %>
    <p class='error'><%= show_errors(customer, :primary_phone_no) %></p>
  </div>

  <div class="form-group">
    <%= form.label :secondary_phone_no %>
    <%= form.text_field :secondary_phone_no, class: 'form-control' %>
    <p class='error'><%= show_errors(customer, :secondary_phone_no) %></p>
  </div>

  <div class="form-group">
    <%= link_to 'Back', @customer, class: 'btn btn-light' %>
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
