<%= form_with(model: [@customer, address], local: true) do |form| %>
  <div class="row">
    <div class="col-7">
      <div class="form-group">
        <%= form.label :street, class: 'required' %>
        <%= form.text_area :street, class: 'form-control', required: true %>
        <p class='error'><%= show_errors(address, :street) %></p>
      </div>

      <div class="form-group">
        <%= form.label :landmark %>
        <%= form.text_area :landmark, class: 'form-control' %>
        <p class='error'><%= show_errors(address, :landmark) %></p>
      </div>
    </div>

    <div class="col-5">
      <div class="form-group">
        <%= form.label :location, class: 'required' %>
        <%= form.text_field :location, class: 'form-control', required: true %>
        <p class='error'><%= show_errors(address, :location) %></p>
      </div>

      <div class="form-group">
        <%= form.label :pincode, class: 'required' %>
        <%= form.text_field :pincode, class: 'form-control', required: true %>
        <p class='error'><%= show_errors(address, :pincode) %></p>
      </div>
    </div>
  </div>




  <div class="actions">
    <%= link_to 'Back', @address.customer, class: 'btn btn-light' %>
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
