<%= form_with(model: [@customer, address], local: true) do |form| %>
  <% if address.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(address.errors.count, "error") %> prohibited this address from being saved:</h2>

      <ul>
        <% address.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-7">
      <div class="form-group">
        <%= form.label :street %>
        <%= form.text_area :street, class: 'form-control', required: true %>
      </div>

      <div class="form-group">
        <%= form.label :landmark %>
        <%= form.text_area :landmark, class: 'form-control' %>
      </div>
    </div>

    <div class="col-5">
      <div class="form-group">
        <%= form.label :location %>
        <%= form.text_field :location, class: 'form-control', required: true %>
      </div>

      <div class="form-group">
        <%= form.label :pincode %>
        <%= form.text_field :pincode, class: 'form-control', required: true %>
      </div>
    </div>
  </div>




  <div class="actions">
    <%= link_to 'Back', @address.customer, class: 'btn btn-light' %>
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
