<!DOCTYPE html>
<html>
  <head>
    <title>Baral Enterprise</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" crossorigin="anonymous"></script>
  </head>

  <body class="bg-primary">
  <div id="layoutAuthentication">
    <div id="layoutAuthentication_content">
      <main>
        <%= yield %>
        <%= toastr_flash %>
      </main>
    </div>
    <div id="layoutAuthentication_footer">
      <%= render 'shared/footer' %>
    </div>
  </div>
  </body>
</html>
